<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DNH DocuSign WebApp</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<fieldset>
  <form action="/a" method="post">
    <input type="submit" class="ghost-button" value="List Recipients">
  </form>
  <form action="/b" method="post">
    <input type="submit" value="Get User Info">
  </form>
  <form action="/c" method="post">
    <input type="submit" value="Create Envelope">
  </form>
  <form action="/d" method="get">
    <input type="submit" value="download evenlope documents">
  </form>
</fieldset>

  </body>
</html>
